body
{
	margin: 0;
	font-family: Montserrat;
}
a,
span,
button{font-family: 'Montserrat',sans-serif;}

.container
{
	padding: 0 16px;
	margin: 0 auto;
	max-width: $widescreen;
}

.spoiler-transition-enter{ max-height: 0; padding: 0;}
.spoiler-transition-enter-active{transition: all .3s;}
.spoiler-transition-enter-to
{
	max-height: 220px;
	padding: 28px 0 21px 0;
}
.spoiler-transition-leave{ max-height: 220px; }
.spoiler-transition-leave-active{transition: all .2s ease; }
.spoiler-transition-leave-to{max-height: 0; padding: 0;}
h6
{
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}