body
{
	margin: 0;
	font-family: Montserrat;
	color: $font-black;
}
a,
span,
button{font-family: 'Montserrat',sans-serif;}

.container
{
	padding: 0 16px;
	margin: 0 auto;
	max-width: $widescreen;
}

.spoiler-transition-enter{ max-height: 0; padding: 0;}
.spoiler-transition-enter-active{transition: all .3s;}
.spoiler-transition-enter-to
{
	max-height: 220px;
	padding: 28px 0 21px 0;
}
.spoiler-transition-leave{ max-height: 220px; }
.spoiler-transition-leave-active{transition: all .2s ease; }
.spoiler-transition-leave-to{max-height: 0; padding: 0;}
h6
{
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}
h1
{
	font-size: 28px;
	line-height: 31px;
	margin: 15px 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;;
}
h3
{
	margin: 0;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p
{
	font-size: 11px;
	line-height: 13px;
	color:$gray6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 10px 0;
}
@media (min-width: $desktop)
{
	h1
	{
		font-size: 41px;
		line-height: unset;
	}
	h3
	{
		font-size: calc(1em + 1vw);
		line-height: calc(1em + 1vw);
	}
}
@media (min-width: $widescreen)
{
	h1
	{
		font-size: 56px;
		line-height: 67px;
		margin-bottom: 50px;
		margin-top: 50px;
	}
	h3
	{
		font-size: 30px;
		line-height: 30px;
	}
}