//Цвета шрифтов
$font-black: #3D4248;
$gray: #666666;
$gray2: #8B8E91;
$gray3: #B1B3B6;
$gray4: #727271;
$gray5:#D8D9DA;
$gray6:#747678;

//Основные цвета
$white: #fff;
$borderWhite: #E3E4E4;
$backgroundWhite: #F8F8F8;
$green-white: #E2F3E4;
$green-white2: #ECF7ED;
$green: #40AE49;
$green-hover: #52CB5C;
$red:#FD470E;
$red-hover:#FF6A3A;
$gray:#F8F8F8;

//разрешения
$widescreen: 1508px;
$tablet: 600px;
$desktop: 1024px;
